*{
    margin-top: 3px;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather",sans-serif;
    background-color: #ffe9e9;
    overflow-x: hidden;
    
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}
.navbar__nav__items_gether{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.navbar__nav__items_gether a{
    color: rgb(248, 106, 106);
    margin: 0px 20px;
	display: flex;
	text-transform: uppercase;
    font-size: 1.5rem;
}
.navbar{
    display:flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
.navbar__brand{
    width: 120px;
}
.navbar__logo{
    width: 100%;
}
.nav_item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 50%,
        #ff512f 100%
    );
    margin-top: -2px;
    color:#fff;
    padding: .4rem;
    border: none;
    border-radius: 6px;
    background-size: 200% auto;
    transition: 1s;
    cursor: pointer;
}
.nav_item:hover{
    background-position: right center;
    color:white;
}
.navbar__nav__items_gether a:hover{
    color: #718daa;
}
.hero__button{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  padding: 13px 20px;
  border: none;
  color: white;
  border-radius: 4px;
  transition:  1s;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-size: 200% auto;
  cursor: pointer;
}
.hero__button:hover{
    background-position: right center;
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
.container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 100%;
}
.hero__container{
    width: 100%;
}
.hero__container__image{
    z-index: 3;
    margin-top: 20px;
    position: relative;
    /* filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px rgb(243, 44, 17));*/
    width: 100%;
}
.hero__image{
    width: 100%;
    left: auto;
    right: auto;
    box-shadow: 0 25px 50px -2px rgba(0, 0, 0, 0.25);
    position:absolute;
}
.hero__shape__img{
    margin-top: -30px;
    position: absolute;
    right: 2;
    z-index: -2;
}

.hero__text{
    font-size: 25px;
    color: #1d3557;
    margin: 10px 0;
}

/* menu cards */
.explore__menu__description{
    font-size: 30px;
    color: #1d3557;
    margin: 50px 0;
    text-align: center;
}
.explore__menu__card{
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0 ;
}
.food__image{
    margin: 0;
    width: 100%;
    height: 55%;
    border-radius: 9px 9px 0 0;
}
.food__title{
    margin: 0;
    font-size: 20px;
}
.food__restaurants{
    font-size: 19px;
    font-style: italic;
}
.food__menu__card__description{
    padding: 20px;
    margin-top: 2px;
}
.explore__menu__view__more{
    display: flex;
    justify-content: center;
}
.explore__menu__view__more__button{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 50%,
        #ff512f 100%
    );
    margin-top: -2px;
    color:#fff;
    padding: .8rem 2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-position: 200% auto;
    transition: 1s;
    font-size: 15px;
}
.explore__menu__view__more__button:hover{
    background-position: right center;
    font-size: 20px;
    color: rgb(24, 0, 0);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
#burger:hover{
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
#pizza:hover{
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
#ice_cream:hover{
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
/* grid__section */
.flex__container{
    max-width: 100%;
}
.flex__restaurant__grid{
    width: 100%;
}
.flex__description{
    color: #1d3557;
    margin: 10px 0;
    text-align: center;
}
.flex__row__1{
    display: flex;
    align-items: baseline;
}
.flex__row__2{
    display: flex;
    margin-top: 10px;
}
.restaurant__2,
.restaurant__3{
    border-radius: 4px;
    margin: 0 2px;
    width: 200px;
    height: 100px;
}
.restaurant__1,
.restaurant__4{
    border-radius: 4px;
    margin: 0 2px;
    width: 150px;
    height: 80px;
}
.email__container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.get__update__description{
    text-align: center;
    margin-top: 30px;
    color: #1d3557;

}
.emails{
    border: none;
    border: 1px solid orange;
    width: 50%;
}
.get__update__container__button{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 50%,
        #ff512f 100%
    );
    margin-left: 5px;
    color:#fff;
    padding: .8rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-position: 200% auto;
    transition: 1s;
    font-size: 15px;
}
@media (min-width:772px){
    .navbar{
        justify-content: space-between;
        padding: 8px 17px;
    }
    .navbar__brand{
        width: 140px;
    }
    .nav_item{
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .container{
        max-width: 1000px;
    }
    .hero__text{
        font-size: 30px;
    }.hero__button{
        font-size: 20px;
    }

    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .explore__menu__list{
        margin: 30px;
        display: flex;
        gap: 10px;
    }
    #pizza{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .explore__menu__container{
        margin-top: 100px;
        position: relative;
    }
    .explore__menu__gradient__bg{
        position:absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
        to right,
        #ff522ff1 0%,
        #ee2982 50%,
        #ff522fef 100%
    );
    z-index: -5;
    transform: skewY(-5deg)
    }
    .flex__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .flex__description{
        font-size: 30px;
        width: 100%;
    }
    .restaurant__2,
    .restaurant__3{
    border-radius: 4px;
    margin: 0 2px;
    width: 250px;
    height: 150px;
}
.restaurant__1,
.restaurant__4{
    border-radius: 4px;
    margin: 0 2px;
    width: 200px;
    height: 125px;
}
    
}
@media (min-width:1029px){
    .navbar{
        justify-content: space-between;
        padding: 8px 17px;
    }
    .navbar__brand{
        width: 180px;
    }
    .nav_item{
        padding: 18px;
        font-size: 18px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .container{
        max-width: 1200px;
    }
    .hero__text{
        font-size: 50px;
    }
    .hero__button{
        font-size: 25px;
    }
    .explore__menu__list{
        gap: 50px;
    }
    .explore__menu__description{
        font-size: 50px;
    }
    .flex__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .flex__description{
        text-align: center;
        width: 100%;
        font-size: 40px;
    }
    .restaurant__2,
    .restaurant__3{
    border-radius: 4px;
    margin: 0 2px;
    width: 400px;
    height: 250px;
}
.restaurant__1,
.restaurant__4{
    border-radius: 4px;
    margin: 0 2px;
    width: 300px;
    height: 200px;
}
}

@media screen and (max-width: 1056px) {
    .navbar__nav__items_gether a{
        font-size: 19px;
        align-content: center;
    }
    
    }
    
    @media screen and (max-width: 950px) {
        .navbar__nav__items_gether a{
            align-content: center;
            font-size: 15px;
        }
    
    }
    
    
    @media screen and (max-width: 700px) {
        .navbar__nav__items_gether a{
            align-content: center;
            font-size: 10px;
        }
    
    
    }
    
    @media screen and (max-width: 680px) {
        .navbar__nav__items_gether a{
            display: block;
            align-content: center;
            font-size: 7px;
        }
        .nav_item{
            padding: 5px;
            font-size: 10px;
            font-family: sans-serif;
            display: flex;
            justify-content: space-around;
        }
    
    }